.item-carousel {
  position: absolute;
  width: 100%;
  height: 50vh;
}

.item-carousel img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title-carousel {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: darkslategrey;
  color: white;
  width: 100%;
  padding: 0.5em;
}

#controls {
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 51vh;
}
